@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


*
{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: inherit;
}

body
{
    background-color: #1E1E1E;
    color: white;
}
