<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add Birthday</title>
    <link rel="stylesheet" href="style.css">
    <link rel="manifest" href="manifest.json">
    <script defer src="script.js"></script>
</head>

<body>
    <main>
        <h1>Add Birthday</h1>
        <div class="inputs">
            <label for="inputNewName">Name:</label>
            <input type="text" id="inputNewName">

            <label for="inputNewDate">Date:</label>
            <input type="date" id="inputNewDate">
        </div>
    
        <button class="addBirthdayBtn">ADD</button>

        <p class="error"></p>
    </main>
</body>

</html>
